# Project
.env*
.vscode

# Node
node_modules

# npm / yarn
npm-*.log
yarn-*.log

# Lint
eslint-local-rules
.eslint*
.prettier*
eslint.config.mjs

# Tests
**/*.test.*

# Cache
.cache
dist
.husky
.github
