@use "../../styles/_mixins.scss";
@use "../../sizes/_breakpoints.scss";

.energy-label {
  --label-background: var(--gray-50);
  --label-foreground: var(--gray-600);
  --label-border: var(--gray-200);

  @include mixins.dimensions(var(--s-6), var(--s-8), true);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 300ms var(--bezier);
  background: var(--label-background);
  border-radius: var(--s-1);
  user-select: none;
  border: 1px solid var(--label-border);

  .energy-label-value {
    transition: color 300ms var(--bezier);
    color: var(--label-foreground);
  }

  &.active {
    --label-border: var(--gray-200-00);
    --label-foreground: var(--white);
  }

  @media only screen and (max-width: breakpoints.$breakpoint-xs) {
    @include mixins.dimensions(var(--s-8), var(--s-10), true);
  }
}
