@use "../../../src/sizes/breakpoints.scss";

.component-list {
  margin: var(--s-6) 0;

  & [data-testid="grid"] {
    --cell-size-large: 2;
    --cell-size-small: 1;
  }

  &
    [data-testid="grid"]:has([data-testid="component-card"]:hover)
    [data-testid="component-card"]:not(:hover) {
    opacity: 0.75;
    transition:
      border-color 300ms var(--bezier) 0s,
      background 300ms var(--bezier) 0s,
      box-shadow 300ms var(--bezier) 0s,
      opacity 300ms var(--bezier) 600ms;
  }

  @media only screen and (max-width: breakpoints.$breakpoint-sm) {
    & [data-testid="grid"] {
      grid-template-columns: repeat(2, 1fr);
      --cell-size-large: 1;
      --cell-size-small: 1;
    }
  }
}
