.virtal-table {
  min-width: 100%;
  max-width: max-content;
  width: unset;
}

.virtual-table-row {
  --fixed-item-height: unset;
  height: var(--fixed-item-height);
  min-height: var(--fixed-item-height);
  max-height: var(--fixed-item-height);

  // styles since virtualized lists make these unreliable
  &.list,
  &.list > td {
    background: var(--white) !important;
  }

  // apply background based on injected css class
  // !important needed since base list style uses nth-child selector and therefore
  // is more precise, taking precedence over this rule
  &.even,
  &.even > td {
    background: var(--gray-50) !important;
  }

  // re-apply hover styles
  &.clickable:hover,
  &.clickable:hover > td {
    background: var(--primary-light) !important;
  }
}

.virtual-table-cell {
  --fixed-width: unset;

  &.fixed-width {
    width: var(--fixed-width);
    min-width: var(--fixed-width);
    max-width: var(--fixed-width);
  }
}
