@use "../../sizes/_breakpoints.scss";
@use "../../styles/_mixins.scss";

.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border: none;
  color: var(--gray-900);
  table-layout: auto;

  &.fixed {
    table-layout: fixed;
  }
}

.table-body {
  &:not(.form) {
    outline: 1px solid var(--primary-light);
    outline-offset: -1px;
    border-radius: var(--s-1);
    overflow: hidden;
  }
}

.table-cell {
  --table-cell-min-width: unset;
  --table-cell-fixed-width: unset;
  white-space: nowrap;

  &.padded {
    padding: var(--s-1) var(--s-2);
  }

  &.min-width {
    min-width: var(--table-cell-min-width) !important;
  }

  &.fixed-width {
    min-width: var(--table-cell-fixed-width) !important;
    max-width: var(--table-cell-fixed-width) !important;
    width: var(--table-cell-fixed-width) !important;
  }
}

.table-header.sticky {
  --table-header-top: 0px;
  position: sticky;
  top: var(--table-header-top);
  z-index: 1;

  & > tr > th > div {
    box-shadow: var(--shadow-card-elevation-low);
  }
}

.table-header-cell {
  text-align: left;
  padding-bottom: var(--s-2);

  & > div {
    background-color: var(--primary-light);
    width: 100%;
    padding: var(--s-1) var(--s-2);
    min-height: var(--s-8);
    height: 100%;
    border: 1px solid var(--primary-medium);
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  @media only screen and (max-width: breakpoints.$breakpoint-xs) {
    & > div {
      min-height: var(--s-10);
    }
  }

  &:not(:first-child) > div,
  :not(:last-child) > div {
    border-left: 0;
  }

  &:first-child > div {
    border-top-left-radius: var(--s-1);
    border-bottom-left-radius: var(--s-1);
  }

  &:last-child > div {
    border-top-right-radius: var(--s-1);
    border-bottom-right-radius: var(--s-1);
  }
}

.table-row {
  tbody > &:first-child > td:first-child {
    border-top-left-radius: var(--s-1);
  }

  tbody > &:first-child > td:last-of-type {
    border-top-right-radius: var(--s-1);
  }

  tbody:last-child > &:last-of-type > td:first-child,
  tfoot:last-child > &:last-of-type > td:first-child {
    border-bottom-left-radius: var(--s-1);
  }

  tbody:last-child > &:last-of-type > td:last-of-type,
  tfoot:last-child > &:last-of-type > td:last-of-type {
    border-bottom-right-radius: var(--s-1);
  }

  &.list {
    & > td {
      padding-top: var(--s-2);
      padding-bottom: var(--s-2);
      min-height: var(--s-12);
      height: var(--s-12);
      vertical-align: middle;
      background: var(--white);
      transition: background 150ms var(--bezier);
    }

    &:nth-child(even) {
      &,
      & > td {
        background: var(--gray-50);
      }
    }

    &:not(:last-child) > td {
      border-bottom: 1px solid var(--primary-light);
    }

    &.clickable {
      cursor: pointer;
      &:hover > td {
        background: var(--primary-light);
      }
    }
  }

  &.form {
    & > td {
      border-right: 1px solid var(--gray-200);
      border-bottom: 1px solid var(--gray-200);
    }

    & > td:first-child {
      border-left: 1px solid var(--gray-200);
    }

    &:first-child > td {
      border-top: 1px solid var(--gray-200);
    }

    // remove double border
    tfoot > &:first-child > td {
      border-top: none;
    }
  }
}

.table-scroll-view-anchor {
  width: 100%;
  position: relative;
}

.table-scroll-view {
  --table-scroll-view-max-height: unset;
  --table-scroll-view-overflow-indicator-size: var(--s-4);
  --table-scroll-view-overflow-indicator-color: var(--primary-base);
  --table-scroll-view-overflow-origin: 0;
  --controls-visible-width: var(--s-6);

  display: block;
  max-height: var(--table-scroll-view-max-height);
  width: 100%;

  @include mixins.no-scrollbar;

  overflow-x: visible;
  overflow-y: visible;
  scroll-timeline-name: --table-scroll;

  &.overflow-x,
  &.overflow-both {
    overflow-x: auto;
  }

  &.overflow-y,
  &.overflow-both {
    overflow-y: auto;
  }

  .table-scroll-view-overflow-indicator {
    position: absolute;
    inset: 0;
    width: var(--table-scroll-view-overflow-indicator-size);
    z-index: 12;
    opacity: 0;
    display: block;
    transition: background 300ms var(--bezier);
    background: var(--table-scroll-view-overflow-indicator-color);

    &.table-scroll-view-overflow-start {
      animation: show-overflow-start linear both;
      animation-timeline: --table-scroll;
    }

    &.table-scroll-view-overflow-end {
      animation: show-overflow-end linear both;
      animation-timeline: --table-scroll;
    }
  }

  &.overflow-x,
  &.overflow-both {
    scroll-timeline-axis: x;

    .table-scroll-view-overflow-indicator {
      width: var(--table-scroll-view-overflow-indicator-size);

      &.table-scroll-view-overflow-start {
        left: var(--table-scroll-view-overflow-origin);
        right: unset;
        mask: linear-gradient(to right, black, transparent);
        border-top-left-radius: var(--s-1);
        border-bottom-left-radius: var(--s-1);
      }

      &.table-scroll-view-overflow-end {
        left: unset;
        right: var(--table-scroll-view-overflow-origin);
        mask: linear-gradient(to right, transparent, black);
        border-top-right-radius: var(--s-1);
        border-bottom-right-radius: var(--s-1);
      }
    }
  }

  &.overflow-y {
    scroll-timeline-axis: y;

    .table-scroll-view-overflow-indicator {
      height: var(--table-scroll-view-overflow-indicator-size);

      &.table-scroll-view-overflow-start {
        top: var(--table-scroll-view-overflow-origin);
        bottom: unset;
        mask: linear-gradient(to bottom, black, transparent);
        border-top-left-radius: var(--s-1);
        border-top-right-radius: var(--s-1);
      }

      &.table-scroll-view-overflow-end {
        top: unset;
        bottom: var(--table-scroll-view-overflow-origin);
        mask: linear-gradient(to bottom, transparent, black);
        border-bottom-left-radius: var(--s-1);
        border-bottom-right-radius: var(--s-1);
      }
    }
  }

  &.form {
    margin: 0 calc(-1 * var(--controls-visible-width));
    padding: 0 var(--controls-visible-width);
    width: calc(100% + var(--controls-visible-width) * 2);

    &.overflow-y {
      // hide overflowing scrolling rows in the 4 corners (behind header & footer)
      // while keeping controls visible
      --rounding: var(--s-1);
      --x-start: var(--controls-visible-width);
      --x-end: calc(100% - var(--x-start));
      --y-start: var(--s-1);
      --y-end: calc(100% - var(--s-1));
      clip-path: shape(
        evenodd from 0 var(--y-start),
        line to var(--x-start) var(--y-start),
        arc to calc(var(--x-start) + var(--s-1)) 0 of var(--rounding) cw,
        line to calc(var(--x-end) - var(--s-1)) 0,
        arc to var(--x-end) var(--y-start) of var(--rounding) cw,
        line to 100% var(--y-start),
        line to 100% var(--y-end),
        line to var(--x-end) var(--y-end),
        arc to calc(var(--x-end) - var(--s-1)) 100% of var(--rounding) cw,
        line to calc(var(--x-start) + var(--s-1)) 100%,
        arc to var(--x-start) var(--y-end) of var(--rounding) cw,
        line to 0 var(--y-end),
        close
      );
    }

    &.overflow-x,
    &.overflow-both {
      // offset overflow indicators by negative margin
      --table-scroll-view-overflow-origin: calc(
        var(--controls-visible-width) * -1
      );

      // clip overflowing corners with same radius as table
      clip-path: rect(0 100% 100% 0 round var(--s-1));
    }
  }
}

@keyframes show-overflow-start {
  from {
  }
  to {
    opacity: 0.75;
  }
}

@keyframes show-overflow-end {
  from {
    opacity: 0.75;
  }
  to {
  }
}
