.empty-state-card {
  padding: var(--s-6);

  &:not(.transparent) {
    background: var(--white);
    border-radius: var(--s-2);
    padding: var(--s-6);
    box-shadow: var(--shadow-card-default);
  }
}
