@mixin m-text-h1-bold($important: false) {
  line-height: 3.375rem;
  letter-spacing: -0.06687500327825546rem;
  font-feature-settings: "LIGA" 0;
  font-size: var(--text-h1);
  font-weight: var(--text-weight-bold);
  @if $important {
    line-height: 3.375rem !important;
    letter-spacing: -0.06687500327825546rem !important;
    font-feature-settings: "LIGA" 0 !important;
    font-size: var(--text-h1) !important;
    font-weight: var(--text-weight-bold) !important;
  }
  @media only screen and (max-width: 767px) {
    line-height: 3.5rem;
    letter-spacing: -0.06687500327825546rem;
    font-feature-settings: "LIGA" 0;
    font-size: var(--text-h1);
    font-weight: var(--text-weight-bold);
    @if $important {
      line-height: 3.5rem !important;
      letter-spacing: -0.06687500327825546rem !important;
      font-feature-settings: "LIGA" 0 !important;
      font-size: var(--text-h1) !important;
      font-weight: var(--text-weight-bold) !important;
    }
  }
}
.text-h1-bold {
  @include m-text-h1-bold;
  &.important {
    @include m-text-h1-bold(true);
  }
}

@mixin m-text-h1-medium($important: false) {
  line-height: 3.375rem;
  letter-spacing: -0.06687500327825546rem;
  font-feature-settings: "LIGA" 0;
  font-size: var(--text-h1);
  font-weight: var(--text-weight-medium);
  @if $important {
    line-height: 3.375rem !important;
    letter-spacing: -0.06687500327825546rem !important;
    font-feature-settings: "LIGA" 0 !important;
    font-size: var(--text-h1) !important;
    font-weight: var(--text-weight-medium) !important;
  }
  @media only screen and (max-width: 767px) {
    line-height: 3.5rem;
    letter-spacing: -0.06687500327825546rem;
    font-feature-settings: "LIGA" 0;
    font-size: var(--text-h1);
    font-weight: var(--text-weight-medium);
    @if $important {
      line-height: 3.5rem !important;
      letter-spacing: -0.06687500327825546rem !important;
      font-feature-settings: "LIGA" 0 !important;
      font-size: var(--text-h1) !important;
      font-weight: var(--text-weight-medium) !important;
    }
  }
}
.text-h1-medium {
  @include m-text-h1-medium;
  &.important {
    @include m-text-h1-medium(true);
  }
}

@mixin m-text-h1-regular($important: false) {
  line-height: 3.375rem;
  letter-spacing: -0.06687500327825546rem;
  font-feature-settings: "LIGA" 0;
  font-size: var(--text-h1);
  font-weight: var(--text-weight-regular);
  @if $important {
    line-height: 3.375rem !important;
    letter-spacing: -0.06687500327825546rem !important;
    font-feature-settings: "LIGA" 0 !important;
    font-size: var(--text-h1) !important;
    font-weight: var(--text-weight-regular) !important;
  }
  @media only screen and (max-width: 767px) {
    line-height: 3.5rem;
    letter-spacing: -0.06687500327825546rem;
    font-feature-settings: "LIGA" 0;
    font-size: var(--text-h1);
    font-weight: var(--text-weight-regular);
    @if $important {
      line-height: 3.5rem !important;
      letter-spacing: -0.06687500327825546rem !important;
      font-feature-settings: "LIGA" 0 !important;
      font-size: var(--text-h1) !important;
      font-weight: var(--text-weight-regular) !important;
    }
  }
}
.text-h1-regular {
  @include m-text-h1-regular;
  &.important {
    @include m-text-h1-regular(true);
  }
}

@mixin m-text-h2-bold($important: false) {
  line-height: 2.375rem;
  letter-spacing: -0.04937500134110451rem;
  font-feature-settings: "LIGA" 0;
  font-size: var(--text-h2);
  font-weight: var(--text-weight-bold);
  @if $important {
    line-height: 2.375rem !important;
    letter-spacing: -0.04937500134110451rem !important;
    font-feature-settings: "LIGA" 0 !important;
    font-size: var(--text-h2) !important;
    font-weight: var(--text-weight-bold) !important;
  }
  @media only screen and (max-width: 767px) {
    line-height: 2.5rem;
    letter-spacing: -0.04937500134110451rem;
    font-feature-settings: "LIGA" 0;
    font-size: var(--text-h2);
    font-weight: var(--text-weight-bold);
    @if $important {
      line-height: 2.5rem !important;
      letter-spacing: -0.04937500134110451rem !important;
      font-feature-settings: "LIGA" 0 !important;
      font-size: var(--text-h2) !important;
      font-weight: var(--text-weight-bold) !important;
    }
  }
}
.text-h2-bold {
  @include m-text-h2-bold;
  &.important {
    @include m-text-h2-bold(true);
  }
}

@mixin m-text-h2-medium($important: false) {
  line-height: 2.375rem;
  letter-spacing: -0.04937500134110451rem;
  font-feature-settings: "LIGA" 0;
  font-size: var(--text-h2);
  font-weight: var(--text-weight-medium);
  @if $important {
    line-height: 2.375rem !important;
    letter-spacing: -0.04937500134110451rem !important;
    font-feature-settings: "LIGA" 0 !important;
    font-size: var(--text-h2) !important;
    font-weight: var(--text-weight-medium) !important;
  }
  @media only screen and (max-width: 767px) {
    line-height: 2.5rem;
    letter-spacing: -0.04937500134110451rem;
    font-feature-settings: "LIGA" 0;
    font-size: var(--text-h2);
    font-weight: var(--text-weight-medium);
    @if $important {
      line-height: 2.5rem !important;
      letter-spacing: -0.04937500134110451rem !important;
      font-feature-settings: "LIGA" 0 !important;
      font-size: var(--text-h2) !important;
      font-weight: var(--text-weight-medium) !important;
    }
  }
}
.text-h2-medium {
  @include m-text-h2-medium;
  &.important {
    @include m-text-h2-medium(true);
  }
}

@mixin m-text-h2-regular($important: false) {
  line-height: 2.375rem;
  letter-spacing: -0.04937500134110451rem;
  font-feature-settings: "LIGA" 0;
  font-size: var(--text-h2);
  font-weight: var(--text-weight-regular);
  @if $important {
    line-height: 2.375rem !important;
    letter-spacing: -0.04937500134110451rem !important;
    font-feature-settings: "LIGA" 0 !important;
    font-size: var(--text-h2) !important;
    font-weight: var(--text-weight-regular) !important;
  }
  @media only screen and (max-width: 767px) {
    line-height: 2.5rem;
    letter-spacing: -0.04937500134110451rem;
    font-feature-settings: "LIGA" 0;
    font-size: var(--text-h2);
    font-weight: var(--text-weight-regular);
    @if $important {
      line-height: 2.5rem !important;
      letter-spacing: -0.04937500134110451rem !important;
      font-feature-settings: "LIGA" 0 !important;
      font-size: var(--text-h2) !important;
      font-weight: var(--text-weight-regular) !important;
    }
  }
}
.text-h2-regular {
  @include m-text-h2-regular;
  &.important {
    @include m-text-h2-regular(true);
  }
}

@mixin m-text-h3-bold($important: false) {
  line-height: 1.875rem;
  letter-spacing: -0.029374999925494194rem;
  font-feature-settings: "LIGA" 0;
  font-size: var(--text-h3);
  font-weight: var(--text-weight-bold);
  @if $important {
    line-height: 1.875rem !important;
    letter-spacing: -0.029374999925494194rem !important;
    font-feature-settings: "LIGA" 0 !important;
    font-size: var(--text-h3) !important;
    font-weight: var(--text-weight-bold) !important;
  }
  @media only screen and (max-width: 767px) {
    line-height: 2rem;
    letter-spacing: -0.029374999925494194rem;
    font-feature-settings: "LIGA" 0;
    font-size: var(--text-h3);
    font-weight: var(--text-weight-bold);
    @if $important {
      line-height: 2rem !important;
      letter-spacing: -0.029374999925494194rem !important;
      font-feature-settings: "LIGA" 0 !important;
      font-size: var(--text-h3) !important;
      font-weight: var(--text-weight-bold) !important;
    }
  }
}
.text-h3-bold {
  @include m-text-h3-bold;
  &.important {
    @include m-text-h3-bold(true);
  }
}

@mixin m-text-h3-medium($important: false) {
  line-height: 1.875rem;
  letter-spacing: -0.029374999925494194rem;
  font-feature-settings: "LIGA" 0;
  font-size: var(--text-h3);
  font-weight: var(--text-weight-medium);
  @if $important {
    line-height: 1.875rem !important;
    letter-spacing: -0.029374999925494194rem !important;
    font-feature-settings: "LIGA" 0 !important;
    font-size: var(--text-h3) !important;
    font-weight: var(--text-weight-medium) !important;
  }
  @media only screen and (max-width: 767px) {
    line-height: 2rem;
    letter-spacing: -0.029374999925494194rem;
    font-feature-settings: "LIGA" 0;
    font-size: var(--text-h3);
    font-weight: var(--text-weight-medium);
    @if $important {
      line-height: 2rem !important;
      letter-spacing: -0.029374999925494194rem !important;
      font-feature-settings: "LIGA" 0 !important;
      font-size: var(--text-h3) !important;
      font-weight: var(--text-weight-medium) !important;
    }
  }
}
.text-h3-medium {
  @include m-text-h3-medium;
  &.important {
    @include m-text-h3-medium(true);
  }
}

@mixin m-text-h3-regular($important: false) {
  line-height: 1.875rem;
  letter-spacing: -0.029374999925494194rem;
  font-feature-settings: "LIGA" 0;
  font-size: var(--text-h3);
  font-weight: var(--text-weight-regular);
  @if $important {
    line-height: 1.875rem !important;
    letter-spacing: -0.029374999925494194rem !important;
    font-feature-settings: "LIGA" 0 !important;
    font-size: var(--text-h3) !important;
    font-weight: var(--text-weight-regular) !important;
  }
  @media only screen and (max-width: 767px) {
    line-height: 2rem;
    letter-spacing: -0.029374999925494194rem;
    font-feature-settings: "LIGA" 0;
    font-size: var(--text-h3);
    font-weight: var(--text-weight-regular);
    @if $important {
      line-height: 2rem !important;
      letter-spacing: -0.029374999925494194rem !important;
      font-feature-settings: "LIGA" 0 !important;
      font-size: var(--text-h3) !important;
      font-weight: var(--text-weight-regular) !important;
    }
  }
}
.text-h3-regular {
  @include m-text-h3-regular;
  &.important {
    @include m-text-h3-regular(true);
  }
}

@mixin m-text-h4-bold($important: false) {
  line-height: 1.375rem;
  letter-spacing: -0.020625000819563866rem;
  font-feature-settings: "LIGA" 0;
  font-size: var(--text-h4);
  font-weight: var(--text-weight-bold);
  @if $important {
    line-height: 1.375rem !important;
    letter-spacing: -0.020625000819563866rem !important;
    font-feature-settings: "LIGA" 0 !important;
    font-size: var(--text-h4) !important;
    font-weight: var(--text-weight-bold) !important;
  }
  @media only screen and (max-width: 767px) {
    line-height: 1.5rem;
    letter-spacing: -0.020625000819563866rem;
    font-feature-settings: "LIGA" 0;
    font-size: var(--text-h4);
    font-weight: var(--text-weight-bold);
    @if $important {
      line-height: 1.5rem !important;
      letter-spacing: -0.020625000819563866rem !important;
      font-feature-settings: "LIGA" 0 !important;
      font-size: var(--text-h4) !important;
      font-weight: var(--text-weight-bold) !important;
    }
  }
}
.text-h4-bold {
  @include m-text-h4-bold;
  &.important {
    @include m-text-h4-bold(true);
  }
}

@mixin m-text-h4-medium($important: false) {
  line-height: 1.375rem;
  letter-spacing: -0.020625000819563866rem;
  font-feature-settings: "LIGA" 0;
  font-size: var(--text-h4);
  font-weight: var(--text-weight-medium);
  @if $important {
    line-height: 1.375rem !important;
    letter-spacing: -0.020625000819563866rem !important;
    font-feature-settings: "LIGA" 0 !important;
    font-size: var(--text-h4) !important;
    font-weight: var(--text-weight-medium) !important;
  }
  @media only screen and (max-width: 767px) {
    line-height: 1.5rem;
    letter-spacing: -0.020625000819563866rem;
    font-feature-settings: "LIGA" 0;
    font-size: var(--text-h4);
    font-weight: var(--text-weight-medium);
    @if $important {
      line-height: 1.5rem !important;
      letter-spacing: -0.020625000819563866rem !important;
      font-feature-settings: "LIGA" 0 !important;
      font-size: var(--text-h4) !important;
      font-weight: var(--text-weight-medium) !important;
    }
  }
}
.text-h4-medium {
  @include m-text-h4-medium;
  &.important {
    @include m-text-h4-medium(true);
  }
}

@mixin m-text-h4-regular($important: false) {
  line-height: 1.375rem;
  letter-spacing: -0.020625000819563866rem;
  font-feature-settings: "LIGA" 0;
  font-size: var(--text-h4);
  font-weight: var(--text-weight-regular);
  @if $important {
    line-height: 1.375rem !important;
    letter-spacing: -0.020625000819563866rem !important;
    font-feature-settings: "LIGA" 0 !important;
    font-size: var(--text-h4) !important;
    font-weight: var(--text-weight-regular) !important;
  }
  @media only screen and (max-width: 767px) {
    line-height: 1.5rem;
    letter-spacing: -0.020625000819563866rem;
    font-feature-settings: "LIGA" 0;
    font-size: var(--text-h4);
    font-weight: var(--text-weight-regular);
    @if $important {
      line-height: 1.5rem !important;
      letter-spacing: -0.020625000819563866rem !important;
      font-feature-settings: "LIGA" 0 !important;
      font-size: var(--text-h4) !important;
      font-weight: var(--text-weight-regular) !important;
    }
  }
}
.text-h4-regular {
  @include m-text-h4-regular;
  &.important {
    @include m-text-h4-regular(true);
  }
}

@mixin m-text-m-bold($important: false) {
  line-height: 1rem;
  letter-spacing: 0rem;
  font-feature-settings: "LIGA" 0;
  font-size: var(--text-m);
  font-weight: var(--text-weight-bold);
  @if $important {
    line-height: 1rem !important;
    letter-spacing: 0rem !important;
    font-feature-settings: "LIGA" 0 !important;
    font-size: var(--text-m) !important;
    font-weight: var(--text-weight-bold) !important;
  }
  @media only screen and (max-width: 767px) {
    line-height: 1.5rem;
    letter-spacing: 0rem;
    font-feature-settings: "LIGA" 0;
    font-size: var(--text-m);
    font-weight: var(--text-weight-bold);
    @if $important {
      line-height: 1.5rem !important;
      letter-spacing: 0rem !important;
      font-feature-settings: "LIGA" 0 !important;
      font-size: var(--text-m) !important;
      font-weight: var(--text-weight-bold) !important;
    }
  }
}
.text-m-bold {
  @include m-text-m-bold;
  &.important {
    @include m-text-m-bold(true);
  }
}

@mixin m-text-m-medium($important: false) {
  line-height: 1rem;
  letter-spacing: 0rem;
  font-feature-settings: "LIGA" 0;
  font-size: var(--text-m);
  font-weight: var(--text-weight-medium);
  @if $important {
    line-height: 1rem !important;
    letter-spacing: 0rem !important;
    font-feature-settings: "LIGA" 0 !important;
    font-size: var(--text-m) !important;
    font-weight: var(--text-weight-medium) !important;
  }
  @media only screen and (max-width: 767px) {
    line-height: 1.5rem;
    letter-spacing: 0rem;
    font-feature-settings: "LIGA" 0;
    font-size: var(--text-m);
    font-weight: var(--text-weight-medium);
    @if $important {
      line-height: 1.5rem !important;
      letter-spacing: 0rem !important;
      font-feature-settings: "LIGA" 0 !important;
      font-size: var(--text-m) !important;
      font-weight: var(--text-weight-medium) !important;
    }
  }
}
.text-m-medium {
  @include m-text-m-medium;
  &.important {
    @include m-text-m-medium(true);
  }
}

@mixin m-text-m-regular($important: false) {
  line-height: 1rem;
  letter-spacing: 0rem;
  font-feature-settings: "LIGA" 0;
  font-size: var(--text-m);
  font-weight: var(--text-weight-regular);
  @if $important {
    line-height: 1rem !important;
    letter-spacing: 0rem !important;
    font-feature-settings: "LIGA" 0 !important;
    font-size: var(--text-m) !important;
    font-weight: var(--text-weight-regular) !important;
  }
  @media only screen and (max-width: 767px) {
    line-height: 1.5rem;
    letter-spacing: 0rem;
    font-feature-settings: "LIGA" 0;
    font-size: var(--text-m);
    font-weight: var(--text-weight-regular);
    @if $important {
      line-height: 1.5rem !important;
      letter-spacing: 0rem !important;
      font-feature-settings: "LIGA" 0 !important;
      font-size: var(--text-m) !important;
      font-weight: var(--text-weight-regular) !important;
    }
  }
}
.text-m-regular {
  @include m-text-m-regular;
  &.important {
    @include m-text-m-regular(true);
  }
}

@mixin m-text-s-bold($important: false) {
  line-height: 0.887499988079071rem;
  letter-spacing: 0rem;
  font-feature-settings: "LIGA" 0;
  font-size: var(--text-s);
  font-weight: var(--text-weight-bold);
  @if $important {
    line-height: 0.887499988079071rem !important;
    letter-spacing: 0rem !important;
    font-feature-settings: "LIGA" 0 !important;
    font-size: var(--text-s) !important;
    font-weight: var(--text-weight-bold) !important;
  }
  @media only screen and (max-width: 767px) {
    line-height: 1.25rem;
    letter-spacing: 0rem;
    font-feature-settings: "LIGA" 0;
    font-size: var(--text-s);
    font-weight: var(--text-weight-bold);
    @if $important {
      line-height: 1.25rem !important;
      letter-spacing: 0rem !important;
      font-feature-settings: "LIGA" 0 !important;
      font-size: var(--text-s) !important;
      font-weight: var(--text-weight-bold) !important;
    }
  }
}
.text-s-bold {
  @include m-text-s-bold;
  &.important {
    @include m-text-s-bold(true);
  }
}

@mixin m-text-s-medium($important: false) {
  line-height: 0.887499988079071rem;
  letter-spacing: 0rem;
  font-feature-settings: "LIGA" 0;
  font-size: var(--text-s);
  font-weight: var(--text-weight-medium);
  @if $important {
    line-height: 0.887499988079071rem !important;
    letter-spacing: 0rem !important;
    font-feature-settings: "LIGA" 0 !important;
    font-size: var(--text-s) !important;
    font-weight: var(--text-weight-medium) !important;
  }
  @media only screen and (max-width: 767px) {
    line-height: 1.25rem;
    letter-spacing: 0rem;
    font-feature-settings: "LIGA" 0;
    font-size: var(--text-s);
    font-weight: var(--text-weight-medium);
    @if $important {
      line-height: 1.25rem !important;
      letter-spacing: 0rem !important;
      font-feature-settings: "LIGA" 0 !important;
      font-size: var(--text-s) !important;
      font-weight: var(--text-weight-medium) !important;
    }
  }
}
.text-s-medium {
  @include m-text-s-medium;
  &.important {
    @include m-text-s-medium(true);
  }
}

@mixin m-text-s-regular($important: false) {
  line-height: 0.887499988079071rem;
  letter-spacing: 0rem;
  font-feature-settings: "LIGA" 0;
  font-size: var(--text-s);
  font-weight: var(--text-weight-regular);
  @if $important {
    line-height: 0.887499988079071rem !important;
    letter-spacing: 0rem !important;
    font-feature-settings: "LIGA" 0 !important;
    font-size: var(--text-s) !important;
    font-weight: var(--text-weight-regular) !important;
  }
  @media only screen and (max-width: 767px) {
    line-height: 1.25rem;
    letter-spacing: 0rem;
    font-feature-settings: "LIGA" 0;
    font-size: var(--text-s);
    font-weight: var(--text-weight-regular);
    @if $important {
      line-height: 1.25rem !important;
      letter-spacing: 0rem !important;
      font-feature-settings: "LIGA" 0 !important;
      font-size: var(--text-s) !important;
      font-weight: var(--text-weight-regular) !important;
    }
  }
}
.text-s-regular {
  @include m-text-s-regular;
  &.important {
    @include m-text-s-regular(true);
  }
}

@mixin m-text-xs-bold($important: false) {
  line-height: 0.762499988079071rem;
  letter-spacing: 0rem;
  font-feature-settings: "LIGA" 0;
  font-size: var(--text-xs);
  font-weight: var(--text-weight-bold);
  @if $important {
    line-height: 0.762499988079071rem !important;
    letter-spacing: 0rem !important;
    font-feature-settings: "LIGA" 0 !important;
    font-size: var(--text-xs) !important;
    font-weight: var(--text-weight-bold) !important;
  }
  @media only screen and (max-width: 767px) {
    line-height: 1rem;
    letter-spacing: 0rem;
    font-feature-settings: "LIGA" 0;
    font-size: var(--text-xs);
    font-weight: var(--text-weight-bold);
    @if $important {
      line-height: 1rem !important;
      letter-spacing: 0rem !important;
      font-feature-settings: "LIGA" 0 !important;
      font-size: var(--text-xs) !important;
      font-weight: var(--text-weight-bold) !important;
    }
  }
}
.text-xs-bold {
  @include m-text-xs-bold;
  &.important {
    @include m-text-xs-bold(true);
  }
}

@mixin m-text-xs-medium($important: false) {
  line-height: 0.762499988079071rem;
  letter-spacing: 0rem;
  font-feature-settings: "LIGA" 0;
  font-size: var(--text-xs);
  font-weight: var(--text-weight-medium);
  @if $important {
    line-height: 0.762499988079071rem !important;
    letter-spacing: 0rem !important;
    font-feature-settings: "LIGA" 0 !important;
    font-size: var(--text-xs) !important;
    font-weight: var(--text-weight-medium) !important;
  }
  @media only screen and (max-width: 767px) {
    line-height: 1rem;
    letter-spacing: 0rem;
    font-feature-settings: "LIGA" 0;
    font-size: var(--text-xs);
    font-weight: var(--text-weight-medium);
    @if $important {
      line-height: 1rem !important;
      letter-spacing: 0rem !important;
      font-feature-settings: "LIGA" 0 !important;
      font-size: var(--text-xs) !important;
      font-weight: var(--text-weight-medium) !important;
    }
  }
}
.text-xs-medium {
  @include m-text-xs-medium;
  &.important {
    @include m-text-xs-medium(true);
  }
}

@mixin m-text-xs-regular($important: false) {
  line-height: 0.762499988079071rem;
  letter-spacing: 0rem;
  font-feature-settings: "LIGA" 0;
  font-size: var(--text-xs);
  font-weight: var(--text-weight-regular);
  @if $important {
    line-height: 0.762499988079071rem !important;
    letter-spacing: 0rem !important;
    font-feature-settings: "LIGA" 0 !important;
    font-size: var(--text-xs) !important;
    font-weight: var(--text-weight-regular) !important;
  }
  @media only screen and (max-width: 767px) {
    line-height: 1rem;
    letter-spacing: 0rem;
    font-feature-settings: "LIGA" 0;
    font-size: var(--text-xs);
    font-weight: var(--text-weight-regular);
    @if $important {
      line-height: 1rem !important;
      letter-spacing: 0rem !important;
      font-feature-settings: "LIGA" 0 !important;
      font-size: var(--text-xs) !important;
      font-weight: var(--text-weight-regular) !important;
    }
  }
}
.text-xs-regular {
  @include m-text-xs-regular;
  &.important {
    @include m-text-xs-regular(true);
  }
}

@mixin font-sans($important: false) {
  font-family: "Gilroy", "Helvetica", "Inter", "Arial", "Calibri",
    "Segoe UI", sans-serif;
  @if $important {
    font-family: "Gilroy", "Helvetica", "Inter", "Arial", "Calibri",
      "Segoe UI", sans-serif !important;
  }
}
@mixin font-code($important: false) {
  font-family: "DMMono", "Fira Code", "Menlo", "Inconsolata", "Source Mono",
    "Consolas", ui-monospace, monospace;
  @if $important {
    font-family: "DMMono", "Fira Code", "Menlo", "Inconsolata", "Source Mono",
      "Consolas", ui-monospace, monospace !important;
  }
}

.text-color-gray-50 {
  color: var(--gray-50);
  &.important {
    color: var(--gray-50) !important;
  }
}
.text-color-gray-100 {
  color: var(--gray-100);
  &.important {
    color: var(--gray-100) !important;
  }
}
.text-color-gray-200 {
  color: var(--gray-200);
  &.important {
    color: var(--gray-200) !important;
  }
}
.text-color-gray-300 {
  color: var(--gray-300);
  &.important {
    color: var(--gray-300) !important;
  }
}
.text-color-gray-400 {
  color: var(--gray-400);
  &.important {
    color: var(--gray-400) !important;
  }
}
.text-color-gray-500 {
  color: var(--gray-500);
  &.important {
    color: var(--gray-500) !important;
  }
}
.text-color-gray-600 {
  color: var(--gray-600);
  &.important {
    color: var(--gray-600) !important;
  }
}
.text-color-gray-700 {
  color: var(--gray-700);
  &.important {
    color: var(--gray-700) !important;
  }
}
.text-color-gray-800 {
  color: var(--gray-800);
  &.important {
    color: var(--gray-800) !important;
  }
}
.text-color-gray-900 {
  color: var(--gray-900);
  &.important {
    color: var(--gray-900) !important;
  }
}
.text-color-primary-base {
  color: var(--primary-base);
  &.important {
    color: var(--primary-base) !important;
  }
}
.text-color-primary-dark {
  color: var(--primary-dark);
  &.important {
    color: var(--primary-dark) !important;
  }
}
.text-color-primary-light {
  color: var(--primary-light);
  &.important {
    color: var(--primary-light) !important;
  }
}
.text-color-primary-medium {
  color: var(--primary-medium);
  &.important {
    color: var(--primary-medium) !important;
  }
}
.text-color-pending-base {
  color: var(--pending-base);
  &.important {
    color: var(--pending-base) !important;
  }
}
.text-color-pending-dark {
  color: var(--pending-dark);
  &.important {
    color: var(--pending-dark) !important;
  }
}
.text-color-pending-light {
  color: var(--pending-light);
  &.important {
    color: var(--pending-light) !important;
  }
}
.text-color-pending-medium {
  color: var(--pending-medium);
  &.important {
    color: var(--pending-medium) !important;
  }
}
.text-color-warning-base {
  color: var(--warning-base);
  &.important {
    color: var(--warning-base) !important;
  }
}
.text-color-warning-dark {
  color: var(--warning-dark);
  &.important {
    color: var(--warning-dark) !important;
  }
}
.text-color-warning-light {
  color: var(--warning-light);
  &.important {
    color: var(--warning-light) !important;
  }
}
.text-color-warning-medium {
  color: var(--warning-medium);
  &.important {
    color: var(--warning-medium) !important;
  }
}
.text-color-success-base {
  color: var(--success-base);
  &.important {
    color: var(--success-base) !important;
  }
}
.text-color-success-dark {
  color: var(--success-dark);
  &.important {
    color: var(--success-dark) !important;
  }
}
.text-color-success-light {
  color: var(--success-light);
  &.important {
    color: var(--success-light) !important;
  }
}
.text-color-success-medium {
  color: var(--success-medium);
  &.important {
    color: var(--success-medium) !important;
  }
}
.text-color-error-base {
  color: var(--error-base);
  &.important {
    color: var(--error-base) !important;
  }
}
.text-color-error-dark {
  color: var(--error-dark);
  &.important {
    color: var(--error-dark) !important;
  }
}
.text-color-error-light {
  color: var(--error-light);
  &.important {
    color: var(--error-light) !important;
  }
}
.text-color-error-medium {
  color: var(--error-medium);
  &.important {
    color: var(--error-medium) !important;
  }
}
.text-color-white {
  color: var(--white);
  &.important {
    color: var(--white) !important;
  }
}
.text-color-inherit {
  color: inherit;
  &.important {
    color: inherit !important;
  }
}