.context-line {
  --context-line-padding-vertical: var(--s-3);
  --context-line-padding-horizontal: 0;

  background: var(--white);
  flex: 1;
  padding: var(--context-line-padding-vertical)
    var(--context-line-padding-horizontal);

  &.padding-horizontal {
    --context-line-padding-horizontal: var(--s-3);
  }

  &.compact {
    --context-line-padding-vertical: var(--s-2);
  }

  &.border-bottom {
    box-shadow: var(--border-bottom);
  }

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
    box-shadow: none;
  }
}
